@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /* font-family: sans-serif; */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  overflow: hidden;
}

.login-styles form {
  width: 100%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.302);
}

input {
  width: 130%;
  margin-top: 0.9rem;
  border: 1px solid #000;
  outline: none;
}

label {
  margin-top: 1rem;
}

.btn-form {
  text-align: center;
  font-size: 1rem;
  color: #fff;
  border: 1px solid #000;
  width: 90%;
  background-color: rgba(0, 0, 255, 0.816);
}

.btn button {
  font-weight: 700;
  display: none;
}

.container {
  max-width: 100%;
  height: calc(100vh - 40px);
  height: 100%;
}

.container .left {
  flex: 30%;
  height: 100vh;
}

.search-input {
  border: 0;
  outline: 0;
}

.chatlist {
  height: 100%;
  overflow-y: auto;
}

.text-count {
  border-radius: 50%;
}

.right {
  display: none;
  overflow: hidden;
  /* height: 100vh; */
  /* width: 100vh;  */
  padding: 0;
  margin: 0;
}

.chatbox {
  background: url(../whatsimage.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: white;
  overflow-y: auto;
  padding: 40px;
  position: relative;
  height: 75.7vh;
}

.message {
  /* margin: 6px 0; */
}

.message p {
  right: 0;
  max-width: 100vw;

  padding: 0.776rem;
  background: #dcf8c6;
  border-radius: 10px;
  font-size: 0.8em;
  margin-bottom: 1.3rem;
}

.message span {
  font-size: 0.5rem;
  position: relative;
  top: 50%;
  right: 8%;
}

.message .frnd_message p::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: -9px;
  right: auto;
  top: 0rem;
  bottom: auto;
  border: 18px solid;
  border-color: white transparent transparent transparent;
}

.message .my_message p::after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 8px;
  top: 0.01rem;
  bottom: auto;
  border: 18px solid;
  border-color: #dcf8c6 transparent transparent transparent;
}

.my_message {
  justify-content: flex-end;
  position: relative;
  left: 11%;
}

.frnd_message {
  justify-content: flex-start;
  position: relative;
  right: 6%;
}

.frnd_message p {
  background: #fff;
  text-align: left;
}

.back_btn_ {
  position: absolute;
  top: 5%;
  cursor: pointer;
}

.back_btn_ img {
  width: 7.3%;
  cursor: pointer;
}

@media screen and (min-width: 720px) {
  input {
    width: 123%;
  }

  .login-styles form {
    width: 28%;
  }

  .right {
    display: block;
    flex: 70%;
  }

  .chat_container {
    display: flex;
  }

  .back_btn_ {
    display: none;
  }

  .chat_container .left {
    flex: 28%;
    height: 100vh;
  }

  .chat_container {
    max-width: 100%;
    /* height: calc(100vh - 40px);  */
    height: 100%;
  }

  .right-header {
    height: 10.7%;
  }

  .chatbox {
    height: 75.9vh;
  }

  .user-image {
    width: 3rem;
    margin-left: 0.5rem;
  }

  .user-image img {
    height: 3rem;
  }

  .user-image-tall {
    height: 10.7%;
  }

  .img-text {
    margin-top: -0.01rem;
    margin-left: 1.4rem;
  }

  h4 .text-sm {
    margin-left: 0.16rem;
  }

  .magnify {
    margin-top: 0.42rem;
  }

  .magnify img {
    width: 1.3rem;
    height: 1.3rem;
  }

  .ellipsis {
    margin-bottom: 0.44rem;
  }

  .ellipsis img {
    width: 1.3rem;
  }

  .my_message {
    margin-right: 9rem;
  }

  .frnd_message {
    margin-left: 8rem;
  }

  .frnd_message span {
    left: -3%;
  }

  .my_message span {
    left: -3%;
  }
}
